<div>
    <h3>Профиль</h3>
    <div>

        <table class="table " cellpadding="0" cellspacing="0" style="width: 500px">
            <tbody>
            <tr>
                <td><label style="width: 50px" for="fio">ФИО</label></td>
                <td><input style="width: 100%" name="textfield" type="text" value="{{Profile.fio}}" id="fio" disabled></td>
            </tr>
            <tr>
                <td><label style="width: 50px" for="position">Должность</label></td>
                <td><input style="width: 100%" name="textfield" type="text" value="{{Profile.position}}" id="position" disabled></td>
            </tr>
            <tr>
                <td><label style="width: 50px" for="email">e-mail</label></td>
                <td><input style="width: 100%" name="textfield" type="text" value="{{Profile.email}}" id="email" disabled></td>
            </tr>
            <tr>
                <td><label style="width: 50px" for="department">Подразделение</label></td>
                <td><input style="width: 100%" name="textfield" type="text" value="{{Profile.department}}" id="department" disabled></td>
            </tr>
            <tr>
                <td><label style="width: 50px" for="master">Начальник</label></td>
                <td><input style="width: 100%" name="textfield" type="text" value="{{Profile.master}}" id="master" disabled></td>
            </tr>
            </tbody>
        </table>
    </div>

    <form novalidate ng-submit="changePassword()">

        <div class="form-group col-md-6">
            <label for="pass">Введите текущий пароль</label>
            <input class="form-control" type="password" ng-model="ChangePassword.currentPass" id="pass">
        </div>
        <div class="form-group col-md-6">
            <label for="pass">Введите новый пароль</label>
            <input class="form-control" type="password" ng-model="ChangePassword.newPass" id="new_pass">
        </div>
        <div class="form-group col-md-6">
            <label for="pass">Повторите новый пароль</label>
            <input class="form-control" type="password" ng-model="ChangePassword.retypeNewPass" id="retype_pass">
        </div>

        <div>
            <button class="btn btn-success" type="submit">Изменить</button>
        </div>
    </form>
</div>