<div class="mb-3 text-center" ng-controller="administrationController">

    <button class="btn btn-success" type="submit">Создать карточку сотрудника</button>
    <br/><br/>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="emp in employeeList">
                <td>{{emp.id}}</td>
                <td>{{emp.first_name}}</td>
                <td>{{emp.middle_name}}</td>
                <td>{{emp.last_name}}</td>
                <td>
                    <button ng-click="edit()" type="submit" class="btn btn-outline-primary">Редактировать</button>
                    <button ng-click="delete()" type="submit" class="btn btn-outline-danger">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>

</div>
