<div class="mb-3 text-center" ng-controller="administrationController">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Cотрудник</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-model="employee">
            <td>{{employee}}</td>
        </tr>
        </tbody>
    </table>

    <div class="form-group col-md-6">
        <h3>Cотрудник</h3>
    </div>
    <div class="form-group col-md-6">
        <label for="elementSurname">Фамилия</label>
        <input class="form-control" type="text" ng-model="employee.last_name" id="elementSurname">
    </div>
    <div class="form-group col-md-6">
        <label for="elementName">Имя</label>
        <input class="form-control" type="text" ng-model="employee.first_name" id="elementName">
    </div>
    <div class="form-group col-md-6">
        <label for="elementMiddleName">Отчество</label>
        <input class="form-control" type="text" ng-model="employee.middle_name" id="elementMiddleName">
    </div>
    <div class="form-group col-md-6">
        <label for="employeePositionName">Должность сотрудника</label>
        <span  class="nullable">
            <select class="form-control" ng-model="employee.position_name"
                    ng-options="p.position as p.position for p in positionList"  id="employeePositionName">
                <option value="">Должность сотрудника</option>
            </select>
        </span><br/>
    </div>
    <div class="form-group col-md-6">
        <label for="employeeDepartmentName">Отдел сотрудника</label>
        <span  class="nullable">
            <select class="form-control" ng-model="employee.department_name"
                    ng-options="d.title as d.title for d in departmentList" id="employeeDepartmentName">
                <option value="">Отдел сотрудника</option>
            </select>
        </span><br/>
    </div>
    <div ng-if="isNew()" class="form-group col-md-6">
        <label>Детализация сотрудника</label><br/>
        <span  class="nullable">
                <a class="btn btn-outline-primary" href="#!/employee_form/employee_details_form">Создать</a>
        </span><br/>
    </div>
    <div ng-if="isNew()" class="form-group col-md-6">
        <label>Учётная запись сотрудника</label><br/>
        <span  class="nullable">
                <a class="btn btn-outline-primary" href="#!/employee_form/employee_user_form">Создать</a>
        </span><br/>
    </div>

    <div>
        <button ng-click="create(employee)" class="btn btn-success">Сохранить</button>
    </div>
</div>
