<div class="mb-3 text-center" ng-controller="administrationController">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Отдел</th>
            <th scope="col">Должность</th>
            <th scope="col">Аккаунт</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-model="employee">
            <td>{{employee.id}}</td>
            <td>{{employee.first_name}}</td>
            <td>{{employee.middle_name}}</td>
            <td>{{employee.last_name}}</td>
            <td>{{employee.department_name}}</td>
            <td>{{employee.position_name}}</td>
            <td>{{employee.user_name}}</td>
        </tr>
        </tbody>
    </table>

    <div class="form-group col-md-6">
        <h3>Cотрудник</h3>
    </div>
    <div class="form-group col-md-6">
        <label for="elementSurname">Фамилия</label>
        <input class="form-control" type="text" value="{{employee.last_name}}" ng-model="employee.last_name" id="elementSurname">
    </div>
    <div class="form-group col-md-6">
        <label for="elementName">Имя</label>
        <input class="form-control" type="text" ng-model="employee.first_name" id="elementName">
    </div>
    <div class="form-group col-md-6">
        <label for="elementMiddleName">Отчество</label>
        <input class="form-control" type="text" ng-model="employee.middle_name" id="elementMiddleName">
    </div>
    <div class="form-group col-md-6">
        <label for="employeePositionId">Должность сотрудника</label>
        <span  class="nullable">
            <select class="form-control" ng-model="employee.position_name"
                    ng-options="p.position as p.position for p in positionList"  id="employeePositionId">
                <option value="">Должность сотрудника</option>
            </select>
        </span><br/>
    </div>
    <div class="form-group col-md-6">
        <label for="employeeDepartmentId">Отдел сотрудника</label>
        <span  class="nullable">
            <select class="form-control" ng-model="employee.department_name"
                    ng-options="d.title as d.title for d in departmentList" id="employeeDepartmentId">
                <option value="">Отдел сотрудника</option>
            </select>
        </span><br/>
    </div>
    <div class="form-group col-md-6">
        <label for="employeeUserId">Учётная запись сотрудника</label>
        <span  class="nullable">
            <select class="form-control" ng-model="employee.user_name"
                    ng-options="u.userName as u.userName for u in userList" id="employeeUserId">
                <option value="">Учётная запись сотрудника</option>
            </select>
        </span><br/>
    </div>

    <div>
        <button ng-click="create(employee)" class="btn btn-success">Сохранить</button>
    </div>
</div>
