<div class="mb-3 text-center" ng-controller="administrationController">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Cотрудник</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-model="employee">
            <td>{{employee}}</td>
        </tr>
        </tbody>
    </table>

    <div class="form-group col-md-6">
        <h3>Cотрудник</h3>
    </div>
    <div class="form-group col-md-6">
        <label for="elementSurname">Фамилия</label>
        <input class="form-control" type="text" ng-model="employee.last_name" id="elementSurname">
    </div>
    <div class="form-group col-md-6">
        <label for="elementName">Имя</label>
        <input class="form-control" type="text" ng-model="employee.first_name" id="elementName">
    </div>
    <div class="form-group col-md-6">
        <label for="elementMiddleName">Отчество</label>
        <input class="form-control" type="text" ng-model="employee.middle_name" id="elementMiddleName">
    </div>
    <div class="form-group col-md-6">
        <label for="employeePositionName">Должность сотрудника</label>
        <span  class="nullable">
            <select class="form-control" ng-model="employee.position_name"
                    ng-options="p.position as p.position for p in positionList"  id="employeePositionName">
                <option value="">Должность сотрудника</option>
            </select>
<!--            <select class="form-control" ng-model="employee.position_id"-->
<!--                    ng-options="p.id as p.position for p in positionList"  id="employeePositionId">-->
<!--                <option value="">Должность сотрудника</option>-->
<!--            </select>-->

        </span><br/>
    </div>
    <div class="form-group col-md-6">
        <label for="employeeDepartmentName">Отдел сотрудника</label>
        <span  class="nullable">
            <select class="form-control" ng-model="employee.department_name"
                    ng-options="d.title as d.title for d in departmentList" id="employeeDepartmentName">
                <option value="">Отдел сотрудника</option>
            </select>
<!--            <select class="form-control" ng-model="employee.department_id"-->
<!--                    ng-options="d.id as d.title for d in departmentList"  id="employeeDepartmentId">-->
<!--                <option value="">Отдел сотрудника</option>-->
<!--            </select>-->

        </span><br/>
    </div>
<!--    <input type="hidden" ng-model="employee.user_name" value="def" id="user_name">-->
<!--    <input type="hidden" ng-model="employee.mail" value="def" id="mail">-->
<!--    <input type="hidden" ng-model="employee.position_id" value="100" id="position_id">-->
<!--    <input type="hidden" ng-model="employee.department_id" value="100" id="department_id">-->
<!--    <input type="hidden" ng-model="employee.user_id" value="100" id="user_id">-->

    <div>
        <button ng-click="create(employee)" class="btn btn-success">Сохранить</button>
    </div>
</div>
