<div xmlns="http://www.w3.org/1999/html">
    <form novalidate style="max-width: 1600px; padding: 10px; margin: 0 auto; position: relative">
        <h1 class="form-group col-md-6 h3 mb-3 font-weight-normal">Обозреватель файлов:</h1>
        <div class="form-group col-md-6">
            <label>Список файлов:</label>
            <table class="table table-hover" cellpadding="0" cellspacing="0">
                <tr>
                    <td>Идентификатор</td>
                    <td>Название</td>
                    <td>Автор</td>
                    <td>Командировка</td>
                    <td>Действия</td>
                </tr>
                <tbody>
                    <tr ng-repeat="fileDto in filesDtosList">
                        <td>{{fileDto.id}}</td>
                        <td>{{fileDto.fileName}}</td>
                        <td>{{fileDto.authorId}}</td>
                        <td>{{fileDto.errandId}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="download(fileDto.id);">D</button>
                            <button class="btn btn-error" ng-click="delete(fileDto.id);">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group col-md-6">
            <input ng-model = "uFiles" type="file" multiple onchange="angular.element(this).scope().setFiles(this.files)"/>
            <button class="btn btn-success" ng-click="uploadFiles();">Загрузить</button>
        </div>
    </form>
</div>